/* $Id$ */

span.chord {
  height: 2em;
  display: inline-block;
  position: relative;
}

span.chord span {
  display:none;
}

span.chord span.chord-text,
span.chord span.chord-text:before {
  font-weight: bold;
  color: green;
  position: absolute;
  display:block;
}

span.chord span.chord-text { font-size: smaller; top:2px; }

div.remove-chords {
  float:right;
}
a.remove-chords {
  font-size:smaller;
}
